<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <!-- Add Bootstrap CSS and JavaScript links here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add other dependencies as needed -->
</head>
<body>
    <div class="container mt-5">
        <h1>Sign Up</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            
            <p><button type="submit" class="btn btn-primary">Sign Up</button>      <a class="btn btn-secondary" href="{% url 'login' %}"> Login</a> already have an account?</p>
        </form>
    </div>
    <!-- Add Bootstrap JS and jQuery if needed -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
